.mainTitle{
    font-size: 50px;
    text-align:center;
    border-style: dotted;
    border-color:cornflowerblue;
}
.paraGraph{
    position: absolute;
    padding-left:10px;
    padding-right:10px;
    font-size:20px;
    top:60px;
    color:ivory
}
.imgA{
    width :100%;
    position: relative;
}