/**
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
**/
@media screen and (min-width: 1024px) {
.box-0{
  font-size: 100%;
  font-family: Kaiti;
  color: whitesmoke;
  padding-left: 25px;
  display: inline-block;
}
.box-1{
  display: inline-block;
  font-family: Kaiti;
  color: whitesmoke;
  font-size: 150%;
  padding-left: 50%;
}
.box-1a{
  display: inline;
}
.box-1b{
  display: inline;
  padding-left: 60px;
}
.box-1c{
  display: inline;
  padding-left: 60px;
}
.box-1d{
  display: inline;
  padding-left: 60px;
}
.b-1 {
  width: 100%;
  background: -webkit-linear-gradient(left, rgb(0, 89, 255), rgb(188, 250, 18)); 
}
.b-0{
  font-size: medium;
  padding-left: 0px;
  padding-bottom: 5px;
  padding-top: 5px;
  background-image: url("high tech.jpg");
}
.button0a{
  background-color: rgba(0, 0, 0, 0.699);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
@media(max-width: 600px){
  .app{
    width:100%;
    float: none;
  }
}
}
@media screen and (max-width: 1500px) {
  .box-0{
    font-size: 100%;
    font-family: Kaiti;
    color: whitesmoke;
    padding-left: 25px;
    display: inline-block;
  }
  .box-1{
    display: inline-block;
    font-family: Kaiti;
    color: whitesmoke;
    font-size: 150%;
    padding-left: 50%;
  }
  .b-1 {
    width: 100%;
    background: -webkit-linear-gradient(left, rgb(0, 89, 255), rgb(188, 250, 18)); 
  }
  .button0a{
    background-color: rgba(0, 0, 0, 0.699);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  @media(max-width: 600px){
    .app{
      width:100%;
      float: none;
    }
  }
  .b-0{
    font-size: medium;
    padding-left: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-image: url("high tech.jpg");
  }
  .box-1a{
    display: inline;
  }
  .box-1b{
    display: inline;
    padding-left: 60px;
  }
  .box-1c{
    display: inline;
    padding-left: 60px;
  }
  .box-1d{
    display: inline;
    padding-left: 60px;
  }
}
@media screen and (max-width: 1000px) {
  .box-0{
    font-size: 100%;
    font-family: Kaiti;
    color: whitesmoke;
    padding-left: 25px;
    display: inline-block;
  }
  .box-1{
    display: inline-block;
    font-family: Kaiti;
    color: whitesmoke;
    font-size: 150%;
    padding-left: 20%;
  }
  .b-1 {
    width: 100%;
    background: -webkit-linear-gradient(left, rgb(0, 89, 255), rgb(188, 250, 18)); 
  }
  .button0a{
    background-color: rgba(0, 0, 0, 0.699);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  @media(max-width: 600px){
    .app{
      width:100%;
      float: none;
    }
  }
  .b-0{
    font-size: medium;
    padding-left: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-image: url("high tech.jpg");
  }
  .box-1a{
    display: none;
  }
  .box-1b{
    display: none;
    padding-left: 60px;
  }
  .box-1c{
    display: none;
    padding-left: 60px;
  }
  .box-1d{
    display: none;
    padding-left: 60px;
  }
}