@media screen and (min-width: 1200px) {
    .boxA {
      font-size: 100%;
      font-family: Kaiti;
      color: whitesmoke;
      padding-left: 25px;
      display: inline-block;
    }
    .imgA{
      display: inline-block;
      width: 120px;
      height: 60px;
      padding-left: 10px;
      padding-bottom: 20px;
    }
    .boxB {
      display: inline-block;
      font-family: Kaiti;
      color: whitesmoke;
      font-size: 150%;
      padding-left: 30%;
    }
    .boxBa {
      display: inline;
      padding-left: 60px;
    }
    .boxBb {
      display: none;
    }
    .bA {
      width: 100%;
      background: -webkit-linear-gradient(left, rgb(0, 89, 255), rgb(188, 250, 18));
    }
    a {
      text-decoration: none;
    }
  }
  
  @media screen and (max-width: 1200px) {
    .boxA {
      font-size: 100%;
      font-family: Kaiti;
      color: whitesmoke;
      padding-left: 25px;
      display: inline-block;
    }
    .boxB {
      display: inline-block;
      font-family: Kaiti;
      color: whitesmoke;
      font-size: 150%;
      padding-left: 20%;
    }
    .bA {
      width: 100%;
      background: -webkit-linear-gradient(left, rgb(0, 89, 255), rgb(188, 250, 18));
    }
    .boxBb {
      display: inline;
      padding-left: 20px;
    }
    .boxBa {
      display: none;
    }
    .imgA {
      display: inline-block;
      width: 120px;
      height: 60px;
      padding-left: 10px;
      padding-bottom: 20px;
    }
    @media screen and (max-width: 500px) {
      .boxBb {
        display: inline;
        padding-left: 10px;
      }
    }
  }